:root {
  --primary-color: #3ec6e0;
  --secondary-color: #084154;
  --light-gray: #f5f5f5;
}

/* Navbar */

.menu {
  max-width: 500px;
  height: 30px;
  margin-top: 20px;
}
.divider {
  display: none;
}

.right li {
  justify-content: flex-start;
  margin-right: 10px;
}
.right li img {
  margin-right: 5px;
}

.dropdown {
  margin-left: 10px;
  margin-right: 10px;
}
/* mobile menu */

.dropdown-menu {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  margin-top: 0;
  top: 9%;
  left: 0;
  border: none;
  border-radius: 0;
  height: 100%;
  width: 100%;
}

.dropdown-menu::before {
  display: none;
}

.dropdown-menu ul:not(:last-child) {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.dropdown-menu li:not(:first-child) {
  font-size: 1.125rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 900;
}
/* Fim da estilização do menu mobile */

/* Fim da estilização da section navbar */

/* estilização slider */

.banner-name {
  font-size: 1.625rem;
  margin-bottom: 10px;
}
.banner-price {
  margin-bottom: 10px;
  font-size: 2.875rem;
}
.banner-price sup {
  font-size: 1.175rem;
}
.banner-description {
  font-size: 0.75rem;
}

.banner-info {
  width: 100%;
  top: 34%;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}

.banner-nav {
  width: 100%;
  height: 63px;
  top: 50%;
}

.nav-name {
  writing-mode: horizontal-tb;
  text-orientation: sideways-right;
}
.banner-nav {
  position: absolute;
  width: 100%;
  height: 63px;
  top: 64%;
  border-radius: 0px;
  display: flex;
}

.nav-name {
  writing-mode: horizontal-tb;
  text-orientation: sideways-right;
  width: 60%;
}

.nav-name:after {
  width: 120px;
  height: 0;
  top: 56%;
  left: 45%;
  border: 1px solid #fff;
  transform: rotate(0deg);
  background: #fff;
}

.nav-name p {
  background: var(--primary-color);
}

.nav-page {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
  height: 100%;
  border-radius: 0px;
  background: var(--secondary-color);
}

.nav-index {
  text-align: center;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 0;
  width: 50%;
}

/* fim da estilização do slider */

/* Estilização da section middle-banners */
.middle-banners {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  animation: none;
  width: 100%;
}

.zelda,
.sekiro {
  margin: 40px 0 0;
  width: 90%;
  align-self: center;
  justify-self: center;
}

.zelda:hover,
.sekiro:hover {
  transform: none;
}

.zelda-banner img,
.sekiro-banner img {
  width: 100%;
}

.zelda-name {
  top: 49%;
}

.zelda-name,
.sekiro-name {
  height: 30px;
  width: 90%;
  font-size: 0.75rem;
}

.zelda-name:after {
  content: "";
  position: absolute;
  width: 45%;
  left: 50%;
  top: 48%;
  border: 1px solid var(--secondary-color);
}

.sekiro-name:after {
  content: "";
  position: absolute;
  width: 45%;
  left: 50%;
  top: 48%;
  border: 1px solid var(--secondary-color);
}

.z-name,
.s-name {
  background: var(--primary-color);
  padding-right: 5px;
}

.s-blue-bar,
.z-blue-bar {
  font-size: 0.875rem;
  padding: 8px 0;
}
/* fim da estilização da section middle banners */

/* estilização da section highlights */
.highlights {
  top: 150%;
}

.highlights h2 img {
  height: 20px;
  width: 20px;
  margin-right: 15px;
}
.highlights h2 {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
}

.highlight-products {
  margin-top: 0px;
}

.product {
  display: flex;
  transform: scale(0.8);
}

.product:after {
  content: "";
  background: url("./src/svgs/angle-right-solid.svg");
}

.product:hover {
  transition: 0;
  transform: scale(0.8);
}

.product-banner {
  width: 100%;
  padding: 0;
}

.product-banner img {
  width: 100%;
}

.product-name {
  font-size: 1.175rem;
}
.product-price {
  font-size: 1.2;
}

/* ajuste na posição do footer */
.footer {
  top: 245%;
}
